.git
.gitignore
.env
.env.*
!.env.example
.venv
.venv.*
.python_packages
__pycache__
**/__pycache__
*.py[cod]
*.sqlite3
db.sqlite3
media
staticfiles
.pytest_cache
.coverage
htmlcov
.idea
.vscode
.DS_Store
Thumbs.db
/README.md
docs
*.pdf
*.xlsx
*.xls
/*.jpeg
/*.jpg
/*.png
**/tests.py
**/tests_*.py
